<html>
    <body style="text-align: center;">
        {% if numero_sorteado %}
            <h1 style="font-size: 600; margin: 0;"> {{ numero_sorteado }} </h1>
        {% endif %}

        {% if sorteados %}
            <h1> {{ sorteados }}</h1>
        {% endif %}

        <form method="post"> 
            {% csrf_token %}
            <button type="submit">Sortear</button>
        </form>
        <form action="{% url 'reseta' %}" method="get"> 
            {% csrf_token %}
            <button type="submit" onclick="return confirm('Realmente deseja iniciar outro bingo?')">Novo bingo</button>
        </form>
    </body>
</html>